<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>


        h3 {
            color: white;
            font-family: 'Montserrat', sans-serif;"
        }

        p {
            font-family: 'Roboto', sans-serif;
            line-height: 28px;
        }

        .header-bar {
            background-color: #ff7e1a;
            width: 100%;
            height: 60px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 10px;
        }

        .header-bar img {
            width: 150px;
            object-fit: cover;
            height: 40px;
            margin-left: 30px;
        }

        h3 {
            font-size: 32px;
            margin: 0;
            color: white;
        }

        .eye-catcher {
            background-color: #ff9d51;
            width: 100%;
            height: 325px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .inner {
            width: 90%;
            padding: 0 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .eye-catcher img {
            width: 120px;
            height: 90%;
            object-fit: cover;
        }

        .eye-catcher p {
            color: white;
            width: 50%;
            line-height: 32px;
            font-size: 18px;
        }

        a {
            color: white;
            text-decoration: none;
            padding: 15px 25px;
            background-color: #ff7e1a;
            border-radius: 5px;
            font-family: 'Roboto', sans-serif;
            margin-top: 0px;
            display: inline-flex;
            font-size: 18px;
        }

        .left {
            width: 80%;
        }

        .right {
            width: 20%;
        }

        @media only screen and (max-device-width: 630px) {

            body {
                width: unset;
            }

            .eye-catcher {
                height: auto;
                padding: 30px 0;
                position: relative;
            }

            .eye-catcher img {
                width: 60px;
            }

            .left {
                width: 100%;
                order: 2;
                position: relative;
                z-index: 999;
                margin-top: 95px;
            }

            .right {
                order: 1;
                position: absolute;
                right: 20px;
                top: 20px;
                opacity: 0.7;
            }

            p {
                width: 100% !important;
            }

            .link {
                width: 100% !important;
            }

            a {
                width: 100%;
                padding: 15px 0;
                text-align: center;
                display: block;
            }
        }
    </style>
</head>

<body>
<div class="header-bar"> <img src="https://bvwebsolutions.nl/img/logoRRMail.svg"> </div>
<div class="eye-catcher">
    <div class="inner">
        <div class="left">
            <h3> Reset your password </h3>
            <p th:text="|${message}|">Tekst</p>
            <p class="link" name="body204"> <a th:href="@{${targetLink}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" class="button-text"> Reset your password </a> </p>
        </div>
        <div class="right">
            <img src="https://bvwebsolutions.nl/img/passwordicon.png">
        </div>
    </div>
</div>
<p> Kind regards, <br /> Recipe Roulette team</p>
</body>
</html>